{% extends 'header.html' %}
{% block body_block %}
<div class="container">
    <h3>Последние статтьи:</h3>
    {% if articles %}
        {%for art in articles%}
            <div class="article">
                <ul>
                    <li >
                    <a href="/app/article/{{art.id}}">{{art.head}}</a>
                    <small> by {{ art.user }}</small>
                    </li>
                </ul>
            </div>
        {%endfor%}
    {% else %}
    <p>Еще нет статей</p>
    {% endif %}
</div>
{% endblock %}